<!-- Please remove this file from your project -->
<template>
  <article>
    <nuxt-link to="/Testing">Testing</nuxt-link>
  </article>
</template>


<style lang="scss">
</style>

<script>
export default {
  name: "NuxtTutorial",
};
</script>
