<template>
  <nuxt-link class="prueba" to="/">navigate</nuxt-link>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "testing",
});
</script>

<style lang="scss">
.prueba {
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: #000;
}

.prueba:hover {
  color: aqua;
}
</style>
